<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet" href="layout_estilo.css">
</head>
<body>
    <header>
        <p>Zafary</p>
    </header>
    <main>
        <section  class="caja_derecha">
            <button class="Home" id="Home"> Home</button>
            <button class="whatsapp" id="whatsapp"> Whatsapp</button>
            <button class="Zpotify" id="Zpotify">Zpotify</button>
            <article class="caja"></article>
        </section >
        <section class="caja_izquierda">
            <div class="superior">
                <span id="nombre"></span>
            </div>
            <iframe class="inferior" id="contenido" src="../home/Home.html" frameborder="0"></iframe>
        </section>
    </main>
    <script src="https://kit.fontawesome.com/a2b18a7c7e.js"></script>
    <script src="layout.js"></script>
</body>

</html>